<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Physical Wellness Trend</title>
    <!-- D3 IMPORT -->
    <script src="https://d3js.org/d3.v6.min.js"></script>

    <!-- BOOTSTRAP IMPORT -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <!-- FONT IMPORTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Antic&family=Julius+Sans+One&family=Poiret+One&display=swap" rel="stylesheet">


</head>
<body>
    <div class = "container">
        <%- include ("./partials/account-options.ejs") %>
        <div class = "intro">
        <div class = "header">
            <h3>PHYSICAL WELLNESS TREND</h3>
            <a href = "/wellness"><button class="btn btn-primary btn-sm">HOME</button></a>
        </div>
        <%- include ("./partials/full-nav.ejs") %>
</div>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Movement</th>
                    <th>Sleep</th>
                    <th>Rest</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <% wellnessData.forEach(data => { %>
                    <tr>
<!-- referenced https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/DateTimeFormat/DateTimeFormat for date format -->
                        <td><%= new Intl.DateTimeFormat("en" , {dateStyle:"short"}).format(data.date) %></td>
                        <td><%= data.movedBody %></td>
                        <td><%= data.gotEnoughSleep %></td>
                        <td><%= data.restedBody %></td>
                        <td><a href = "/wellness/physicaltrend/<%= data.id %>/edit" ><button class="btn btn-primary btn-sm">EDIT</button></a></td>
                        <td>
                            <form action = "/wellness/physicaltrend/<%= data.id %>?_method=delete" method = "post">
                                <input class="btn btn-primary btn-sm" type = "submit" value = "DELETE"/>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    </body>
    <img src = "https://static.vecteezy.com/system/resources/previews/002/030/935/large_2x/yellow-flowers-on-white-background-free-photo.jpg">
    </html>
    <style>
        /* GENERAL */
        html {
        background: white;;
        }
        body {
        background: white;
        color: #263238;
        display: flex;
        flex-direction: column;
        justify-content: center;
        }
        .header {
            display: inline-flex;
            flex-direction: row;
            width: 100%;
            text-align: center;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid black;
            margin-bottom: 2%;
        }
        h3 {
            font-family: 'Poiret One', cursive;
            text-align: center;
            margin:0;
        }
    button, .btn, .btn-primary, .btn-sm {
        background-color: white;
        border-color: black;
        color: black;
    }
    .btn-primary:hover {
        background-color: #FFD023;
        border-color: black;
    }
    a {
        font-family: 'Poiret One', cursive;
        color: #ECEFF1;
        margin: 2%;
    }

    .intro {
        background-image: url("https://www.homestratosphere.com/wp-content/uploads/2018/04/chrysanthemum.jpg");
        margin-top: 2%;
    }
        /* TABLE */
    table {
    width: 100%;
    margin-top: 4%;
    }
    th, td {
        padding: 1%;
        background: white;
        border: 1px solid black;
        font-family: 'Poiret One', cursive;
        margin: 2%;
        text-align: center;
    }
    img {
        width: 100%;
    }
    </style>