<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Resources</title>

    <!-- BOOTSTRAP IMPORT -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- FONT IMPORTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Antic&family=Julius+Sans+One&family=Poiret+One&display=swap" rel="stylesheet">

</head>
<body>
    <div class = "container">
        <%- include ("./partials/account-options.ejs") %>
        <div class = "intro">
            <h3>MY WELLNESS RESOURCES</h3>
        <a href = "/resource/new"  id = "new-resource"><button class="btn btn-primary btn-sm">NEW RESOURCE</button></a>
        </div>
        <div id = "resource-array">
            <% resource.forEach(resource => { %>
                <div class = "resource-display">
                    <h4><a href = "/resource/<%= resource.id %>"><%= resource.title.toUpperCase() %></a></h4>
                    <p>
                        <%= resource.description %>
                    </p>
                    <!-- referenced https://wordpress.stackexchange.com/questions/288434/how-to-change-thumbnail-of-embedded-youtube-video for below code -->
                    <div>
                        <% const videoId = resource.src.substring(resource.src.indexOf("=") + 1) %>
                        <iframe src="https://www.youtube.com/embed/<%= videoId %>" width="105" height="78" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</body>
<img src = "https://static.vecteezy.com/system/resources/previews/002/030/935/large_2x/yellow-flowers-on-white-background-free-photo.jpg">
</html>

<style>
    .container {
        font-family: 'Poiret One', cursive;
        padding: 2%;

    }
    .intro {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    a {
        color: black;
    }
    h3 {
        padding: 2%;
        background-color: white;
        color: black;
        text-align: center;
    }
    #resource-array {
        background-image: url("https://www.homestratosphere.com/wp-content/uploads/2018/04/chrysanthemum.jpg");
        width: 100%;
        margin-top: 1%;
        padding-left: 0;
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        background-color: white;
        flex-wrap: wrap;
    }
    .resource-display {
        padding: 2%;
        margin: 2%;
        height: 50%;
        width: 40%;
        border: 2px solid #FFD023;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        background-color: white;
        text-align: start;
        align-self: center;
    }
    h4, p {
        font-size: 1.5vmin;
        text-decoration: underline;
        align-self: center;
    }
    iframe {
        height: 80%;
        width: 100%;
        padding: 0;
    }

    button, .btn, .btn-primary, .btn-sm {
        background-color: white;
        border-color: black;
        color: black;
        align-self: center;
    }
    .btn-primary:hover {
        background-color: #FFD023;
        border-color: black;
    }
    #new-resource {
        align-self: center;
        justify-self: center;
    }
    img {
        width: 100%;
    }
</style>
</body>